* {
  box-sizing: border-box;
}

html, body {
  background: $background-color;
  color: $font-color;
  display: flex;
  flex-direction: column;
  font: $font-size $font-family;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  margin: auto;
  max-width: $viewport-width;
  padding: 1em;
  width: 100%;
}

a {
  color: $link-color;
}

em {
  font-style: inherit;
  color: $action-color;
}

pre {
  overflow: auto;
  width: 100%;
}

blockquote {
  border-left: 4px solid $neutral-color;
  margin-left: 0;
  padding: .5em 1em;
}

