@import 'theme';

* {
  box-sizing: border-box;
}

body {
  background: $background-color;
  color: $primary-font-color;
  display: flex;
  flex-direction: column;
  font: $font-size $font-family;
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  margin: auto;
  max-width: $viewport-width;
}

a {
  color: $primary-action-color;
}
a, .btn, button {
  &:hover,
  &:focus {
    opacity: .8;
  }
}
nav a,
h1 a,
h2 a,
h3 a,
h4 a
{
  text-decoration: none;
}

pre > code {
  overflow: auto;
  width: 100%;
}

blockquote {
  border-left: 4px solid $secondary-font-color;
  margin-left: 0;
  padding: .5em 1em;
}

