@media (prefers-color-scheme: dark) {
  body, nav {
    background: lighten($font-color, 5%);
    color: $background-color;
  }
  nav {
    box-shadow: 0 1px 4px -2px #FFF;
    & > a {
      color: $background-color;
    }
  }
  a {
    color: lighten($link-color, 30%);
  }
  em, .alt {
    color: lighten($action-color, 30%) !important;
  }
  .mute {
    color: lighten($neutral-color, 30%);
  }
}
