@import 'theme';

body > footer {
  background: $footer-background-color;
  color: $background-color;
  font-size: .8em;
  padding: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
  margin-top: auto;
  a {
    color: $background-color;
  }
  i {
    font-size: 2em;
  }
}
