@import 'theme';

label {
  display: block;
  margin: .5em 0;
}

button,
input,
select,
textarea,
.msg,
.btn,
code {
  border: 1px solid $secondary-color;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  /* Reset */
  color: inherit;
  background: inherit;
  font: inherit;
}

code {
  background: $footer-background-color;
  border: 0 ;
  color: $background-color;
  display: inline-block;
  width: auto;
}


button,
.btn,
input[type=submit] {
  border: 0;
  color: $action-font-color;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  background: $secondary-color;
}
.main {
  background: $action-color;
}
.alt {
  border: 1px solid $action-color;
  background: inherit;
  color: $action-color;
}
