@import 'theme';

label {
  display: block;
  margin: .5em 0;
}

button,
input,
select,
textarea,
.msg:not(.alert),
.btn,
code {
  border: 1px solid $secondary-font-color;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  /* Reset */
  color: inherit;
  background: inherit;
  font: inherit;
}

code {
  background: $footer-background-color;
  border: 0 ;
  color: $background-color;
  display: inline-block;
  width: auto;
}

input[type=checkbox],
input[type=radio],
a.btn {
  width: auto;
  /* This attributes are here to save space */
  margin: .1em;
  text-decoration: none;
}

button,
.btn,
input[type=submit] {
  border: 0;
  color: $action-font-color;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  background: $secondary-font-color;
  &.main {
    background: $primary-action-color;
  }
  &.alt {
    background: $secondary-action-color;
  }
}
