@font-face {
  font-family: si;
  src: url("bi.woff2");
}

i:before {
  font: 1em si;
  display: inline-block;
}

i.tw:before { content: 'T'; }
i.gh:before { content: 'G'; }
i.yt:before { content: 'Y'; }
i.ig:before { content: 'I'; }
i.wa:before { content: 'W'; }
i.fb:before { content: 'F'; }
i.in:before { content: 'L'; }
i.tl:before { content: 'E'; }
i.ti:before { content: 'C'; }
