.active {
  color: $action-color;
}

html {
  scroll-padding-top: 5em;
}

@media (max-width: $viewport-width) {
  nav {
    li {
      a {
        display: block;
        width: 100%;
        padding: 1em;
        text-align: center;
      }
    }
    label {
      display: block;
      float: right;
      margin-right: 1em;
      &:before {
        content: "☰";
        font-size: 1.5em;
      }
    }
    :checked {
      ~ ul {
        max-height: 50em;
      }
    }
  }
}
