@import 'fixed';

.msg {
  border: 0;
}

.alert {
  padding: 1em;
  z-index: 200;
  button {
    float: right;
    color: #000;
    cursor: pointer;
    background: none;
    border: 0;
  }
}

.ok {
  background: #d1e7dd;
  color: #0f5132;
}

.err {
  background: #f8d7da;
  color: #842029;
}

.warn {
  background: #fff3cd;
  color: #664d03;
}

.info {
  background: #cff4fc;
  color: #055160;
}
