$viewport-width: 991px;
$font-size: 14pt;
$font-family: Helvetica, Arial, sans;

$primary-font-color: #191017;
$secondary-font-color: #505860;
$primary-action-color: #D03633;
$primary-action-focus-color: #003078;
$secondary-action-color: #794573;
$action-font-color: #FFF;
$background-color: #FFF;
$footer-background-color: #000;

$background-dark-color: lighten($primary-font-color, 5%);
