$font-color: darken(#424761, 10%);
$neutral-color: lighten(#424761, 20%);
$action-color: #FF556D;
$link-color: #1597B0;
$action-font-color: #FFF;
$background-color: #FFF;
$footer-background-color: #000;

@import 'base';

