$font-color: darken(#6200BE, 25%);
$neutral-color: #FFBD41;
$action-color:  #B3D93B;
$link-color: #B46CF8;
$action-font-color: #FFF;
$background-color: #FFF;
$footer-background-color: #000;

@import 'base';
