$font-color: #3E4653;
$neutral-color: #7F8C8C;
$action-color:  darken(#34D0B2, 20%);
$link-color:  #1A67F8;
$action-font-color: #FFF;
$background-color: #F3F3F3;
$footer-background-color: #000;

@import 'base';

