$font-color: #0F0F0F;
$neutral-color: #A5AC8C;
$action-color: darken(#F6BA1E, 15%);
$link-color: #F0572F;
$action-font-color: #FFF;
$background-color: #FFF;
$footer-background-color: #000;

@import 'base';
