$viewport-width: 1024px;
$font-size: 14pt;
$font-family: Helvetica, Arial, sans;

$primary-font-color: #191017;
$secondary-font-color: #6C757D;
$primary-action-color: #4785AE;
$secondary-action-color: #AE76A6;
$background-color: #FFF;

