@import '_theme';

* {
  box-sizing: border-box;
}

body {
  background: $background-color;
  color: $primary-font-color;
  display: flex;
  flex-direction: column;
  font: $font-size $font-family;
  height: 100vh;
  margin: 0;
  padding: 0;
}

input,
textarea,
select,
button {
  color: inherit;
  background: inherit;
  font: inherit;
}

main {
  margin: auto;
  max-width: $viewport-width;
  @media (max-width: $viewport-width) {
    margin: .5em 1em;
  }
}

a {
  color: $primary-action-color;
}
a, .btn, button {
  &:hover,
  &:focus {
    opacity: .8;
  }
}
nav a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a
{
  text-decoration: none;
}

pre > code {
  overflow-x: auto;
  width: 100%;
}

blockquote {
  border-left: 4px solid $secondary-font-color;
  margin-left: 0;
  padding: .5em 1em;
}

blockquote > footer {
  margin-top: 1.5em;
}

@media (prefers-color-scheme: dark) {
  body {
    background: $primary-font-color;
    color: $background-color;
  }
  a {
    color: lighten($primary-action-color, 30%);
  }
}
