@import '_theme';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

body,
main,
input,
textarea,
select,
button,
.btn {
  background: $background-color;
  color: $primary-font-color;
  font: $font-size $font-family;
}

main {
  margin: auto;
  max-width: $viewport-width;
  @media (max-width: $viewport-width) {
    margin: .5em 1em;
  }
}

a {
  color: $primary-action-color;
}
a, .btn, button {
  &:hover,
  &:focus {
    opacity: .8;
  }
}

// Menu

nav {
  float: left;
  display: block;
	position: fixed;
  background: $background-color;
  box-shadow: 0 1px 4px -2px rgba(0,0,0,.5);
  padding: 0;
	top: 0;
  margin: 0;
	width: 100%;
  z-index: 100;

  // leave space for the fixed nav
  ~ main {
    margin-top: 4em;
  }

  .brand {
    color: #000;
    float: left;
    margin: .5em;
    font-size: 1.5em;
  }

	label {
    display: none;
    margin: .5em;
    cursor: pointer;
    &:before {
      content: "☰";
      font-size: 1.5em;
    }
	}
  a {
    text-decoration: none;
  }
	input {
		display: none;
	}
  ul {
    margin: 1em;
    padding: 0;
    overflow: hidden;
    float: right;
    li {
      display: inline-block;
      margin: 0 1em;
    }
  }
  @media (max-width: $viewport-width) {
    .brand {
      font-size: 1.3em;
    }
    ul {
      margin: 0;
      max-height: 1px;
      top: 0;
      position: relative;
      float: left;
      clear: both;
      transition: max-height .2s;
      width: 100%;
      li {
        float: left;
        margin: 0;
        width: 100%;
        a {
          display: block;
          width: 100%;
          padding: 1em;
          text-align: center;
          &:hover,
          &:focus {
            background: $primary-font-color;
            color: $background-color;
          }
        }
      }
    }
    label {
      display: block;
      float: right;
      position: relative;
    }
    :checked {
      ~ ul {
        max-height: 230px;
      }
    }
  }
}

// Table

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border-bottom: 1px solid $secondary-font-color;
  padding: .5em;
  text-align: left;
}

tr {
  &:first-child {
    th{ 
      border-color: $primary-font-color;
    }
  }
  &:last-child {
    td {
     border: 0;
    }
  }
}

// Form

button,
input,
select,
textarea,
label.btn,
.msg {
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}
.btn {
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
}

input[type=checkbox],
input[type=radio] {
  width: auto;
}

input,
select,
textarea {
  border: 1px solid $secondary-font-color;
}

input[type=file] {
  border: 0;
}

button,
.btn {
  border: none;
  color: $action-font-color;
  cursor: pointer;
  text-align: center;
  background: $secondary-font-color;
  &.main {
    background: $primary-action-color;
  }
  &.alt {
    background: $secondary-action-color;
  }
}
a.btn {
  text-decoration: none;
  color: $action-font-color;
}

// Helpers

.hide {
  display: none;
}

.center {
  text-align: center;
}

.muted {
  color: $secondary-font-color;
}

.space {
  margin-top: 2em;
}
.d-space {
  margin-top: 4em;
}

// Messages 

.msg {
  font-size: .8em;
}

.alert {
  font-size: 1.2em;
  left: 0;
  margin: 0;
  position: fixed;
  padding: 1em;
  top: 0;
  width: 100%;
  z-index: 200;
}

.ok {
  background: #d1e7dd;
  color: #0f5132;
}

.err {
  background: #f8d7da;
  color: #842029;
}

.warn {
  background: #fff3cd;
  color: #664d03;
}

.info {
  background: #cff4fc;
  color: #055160;
}
